:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #000000;
  --ftr-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --main-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --first-border-color: #eeeeee;
  --icon-sites-color: #AFB1B8;
  --icon-sites-ftr-color: #ffffff;
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --button-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
/* body */
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
/* ------------------------Header--------------------------- */
/* logo-header */
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 95px;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__text {
  color: var(--third-text-color);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
/* -------------------Site navigation----------------------- */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  display: flex;
  padding: 0;
}
.site-nav__item {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link--current,
.site-nav__link {
  position: relative;
}
.site-nav__link--current::after,
.site-nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196F3;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 1;
}
.site-nav__link::after {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.site-nav__link:hover::after,
.site-nav__link--current::after {
  opacity: 1;
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--current {
  color: var(--accent-color);
}
/* .site-nav__link--current {
  color: var(--accent-color);
} */
/* .site-nav__link--current::after {
  opacity: 1;
} */
/* -----------------------Contacts---------------------- */
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.contacts__link {
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__item {
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
}
.contacts__item:last-child {
  margin-right: 0;
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hdr-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ----------------------------Hero----------------------- */
.hero {
  color: var(--second-text-color);
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-p.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 695px;
}
/* -----------------------Backdrop------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
/* ------------------------Modal------------------------ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: inline-block;
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background-color: var(--background-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function)
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal__closing {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  
}
.modal__icon--close {
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function)
}
.modal__closing:hover .modal__icon--close,
.modal__closing:focus .modal__icon--close {
  fill: var(--accent-color);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.modal__form {
  margin-top: 12px;
}
.modal__label:first-child{
  margin-top: 0;
}
.modal__label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  color: var(--primary-text-color);
}
.modal__fill {
  position: relative;
  color: var(--title-text-color);
}
.modal__input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  padding-left: 42px;

  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function)
}
.modal__icon {
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-60%);
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function)
}
.modal__input--coment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon { 
  fill: var(--accent-color);
}
/* .modal-fill:focus-within > .modal__icon {
  fill: var(--accent-color);
} */
.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-color);
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.terms__checkbox {
  /* -webkit-appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.terms__icon--check {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding: 2px 1px 2px 2px;
  margin-right: 7px;
  box-sizing: border-box;
  fill: var(--background-color);
  background-color: #ffffff;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function)
} 
.terms__checkbox:checked + .terms__icon--check {
  fill: var(--background-color);
  background-color: var(--accent-color);
  border: none;
}
.terms__paragraphe,
.terms__link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.terms__link {
  margin-left: 3px;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal__form .button {
  margin: auto;
  margin-top: 30px;
  box-shadow: var(--button-shadow-color);
}
.modal__form .button:hover,
.modal__form .button:focus {
  background: #188CE8;
}
/* ---------------------------Section-------------------------- */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
/* ----------------------------Features-------------------------- */
.features {
  display: flex;
  justify-content: center;
}
.section-title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features__item {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-content: flex-start;
  margin-right: 30px;
  width: 270px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}
.features__icon {
  height: 70px;
  width: 70px;
  fill: #212121;
}
.features__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__paragraphe {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------------Photos-------------------- */
.section.photos {
  padding-top: 0;
}
.photos__list {
  display: flex;
}
.photos__item {
  display: block;
  text-align: start;
  margin-right: 30px;
}
.photos__item:last-child {
  margin-right: 0;
}
.photos__thumb {
  position: relative;
  display: flex;
}
.photos__thumb > .photos__text {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
/* -----------------------------Team------------------------- */
.teams {
  background-color: var(--second-background-color);
}
.person {
  display: block;
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.person__spesification {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}
.team {
  display: flex;
}
.team__item {
  margin-right: 30px;
  background-color: var(--second-text-color);
}
.team__item:last-child {
  margin-right: 0;
}

.sites {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.site__item {
  margin-right: 10px;
}
.site__item:last-child {
  margin-right: 0;
}
.site__link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: var(--icon-sites-color);
  box-sizing: border-box; 
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.site__icon {
  fill: currentColor;
}
.site__link:hover,
.site__link:focus  {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

/* ------------------------Portfolio------------------------- */
/* Categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  color: var(--title-text-color);
  list-style-type: none;
}
.categories__link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing-function);
}
.categories__link:hover,
.categories__link:focus {
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* --------------------Portfolio Overlay----------------- */
.categories__label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.categories__label::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform, opacity;
  transform: translatey(100%);
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
  opacity: 0;
}
.categories__link:hover .categories__label::before,
.categories__link:focus .categories__label::before {
  transform: translatey(0);
  opacity: 1;
}
.categories__paragraphe {
  position: absolute;
  width: 322px;
  height: 168px;
  font-weight: 400 ;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left; 
  color: var(--second-text-color);
  transition-property: transform, opacity;
  transform: translatey(100%);
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
  opacity: 0;
}
.categories__link:hover .categories__paragraphe,
.categories__link:focus .categories__paragraphe{
  transform: translatey(0);
  opacity: 1;
}
.categories__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.categories__name {
  font-size: 16px;
  line-height: 1.87;
}
.categories__item {
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  flex-basis: calc((100% - 90px) / 3);
}
.categories__card {
  display: block;
  text-align: start;
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/* -------------------------Button------------------------ */
.button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 6px 22px;
  margin: auto;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.button--active {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.hero__button--active {
  display: block;
  padding: 10px 32px;
  margin: auto;
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.button__list .button:hover,
.button__list .button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button__item {
  margin-right: 8px;
}
.button__item:last-child {
  margin-right: 0;
}
.button--shadowed:hover,
.button--shadowed:focus {
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero__button--active:hover,
.hero__button--active:focus {
  box-shadow: var(--button-shadow-color);
}
/* ----------------------Clients------------------------- */
.client__list {
  display: flex;
}
.client__item {
  margin-right: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
}
.client__item:last-child {
  margin-right: 0;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-sites-color);
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.client__link:hover,
.client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client__icon {
  fill: currentColor;
}
/* ----------------------Footer------------------------- */
.page-footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Общий блок */
.container.ftr {
  display: flex;
  align-content: center;
  flex-direction: flex-start;
  align-items: baseline;
}
/* Контейнер для адреса */
.page-footer .pf-cont {
  display: flex;
  align-content: center;
  flex-direction: flex-start;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 231px;
  margin-left: 0;
  margin-right: 70px;
  padding: 0;
}
/* Контейнер для ссылок */
.container.networks {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 206px;
  margin: 0;
  margin-right: 93px;
  padding: 0;
}
/* Контейнер для подписки */
.container.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  width: 570px;
  padding: 0;
}
/* Footer follow input */
.follow__thumb {
  display: inline-flex;
  align-content: center;
  margin-top: 20px;
}
.follow__email {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  will-change: transform;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--hero-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(var(--button-shadow-color));
  border-radius: 4px;
}
.follow__email:hover,
.follow__email:focus {
  border-color: var(--accent-color);
}
.follow__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0;
  margin-left: 12px;
}
.follow--site__icon {
  margin-left: 10px;
}
/* logo-footer */
.page-footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 20px;
  padding: 0;
}
.page-footer__text {
  color: var(--second-text-color);
}
/* Адрес */
.address {
  font-size: 14px;
  line-height: 1.71;
}
.address__link {
  display: block;
  color: var(--second-text-color);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.page-footer__contacts {
  display: inline-block;
}
.page-footer__item {
  margin-bottom: 9px;
}
.page-footer__item:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
.page-footer__link {
  color: var(--ftr-contacts-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.page-footer__link:hover,
.page-footer__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
.ftr__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ftr--site__item {
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.ftr--site__link {
  color: var(--icon-sites-ftr-color);
  will-change: transform;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing-function);
}
.ftr--site__link:hover,
.ftr--site__link:focus  {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* list-type */
.list,
.features,
.photos,
.team-list,
.button-list,
.page-footer__contacts {
  list-style-type: none;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}